.main {
    padding: 30px 0;
}

.main-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -15px;

}

.main-logo {
    @include main-description;
    text-align: left;
    margin: 0 15px;
}

.main-title {
    @include main-description;
    text-align: center;
    color:$orange;
    margin: 0 15px; 
}

.main-date {
    @include main-description;
    text-align: center;
    margin: 0 15px; 
}