.total {
    padding: 5px 0;
}

.total-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -15px;
}

.total-make, .total-progress, .total-done{
    width: 30%;
    margin: auto;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between ;
    margin: 0 15px;
}
.total-title {
    @include total-description;
    color: $purple;
}

.total-count {
    @include total-description;
    color: $orange;
}
